*{
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
}
.logo a{
    text-decoration: none;
    color: #8403e8;
}

.about{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}
.about a{
    text-decoration: none;
}
.about li{
    padding: 10px;
    color: #000;
}
/*menu*/

.corpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.corpo .foto{
    padding: 0px;
    border: 1px solid rgb(11, 11, 11);
    background-color: black;
    width: 50%;
}
.foto, img{
    border-radius: 0px 700px 800px 0px;
}

.corpo .headline{
    padding: 50px;
}
.headline h1{
    padding: 0px 0px 20px 0px;
}
.headline, p{
    line-height: 1.5;
    text-align: justify;
}
.headline > address{
    padding: 30px 0px;
}
.headline > a{
    border: 1px solid blue;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
}