*{
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
}
.logo a{
    text-decoration: none;
    color: #8403e8;
}

.about{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}
.about a{
    text-decoration: none;
}
.about li{
    padding: 10px;
    color: #000;
}
/*menu*/

.corpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.corpo .foto{
    padding: 0px;
    border: 1px solid rgb(11, 11, 11);
    background-color: black;
    width: 50%;
}
.foto, img{
    border-radius: 0px 700px 800px 0px;
}

.corpo .headline{
    padding: 50px;
}
.headline h1{
    padding: 0px 0px 20px 0px;
}
.headline, p{
    line-height: 1.5;
    text-align: justify;
}
.headline > address{
    padding: 30px 0px;
}
.headline > a{
    border: 1px solid blue;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
}


/*section 02*/
.contacts{
    display: flex;
    justify-content: center;
}
.cont {
    padding: 50px;
}
.cont a{
    text-decoration: none;
    color: #000;
}


/*section 03*/
.aboutMe{
    background-color: #F3EEFF;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
}
.aboutMenu{
    padding: 0px 0px 20px 0px;
}
.aboutMenu h2{
    padding: 0px 0px 20px 0px;
}

.container-card {
    display: flex;
    justify-content: space-between;
}

.card{
    width: 25%;
    height: 200px;
    border-radius: 40px;
    background-color: #000;
    text-align: center;
    color: #F3EEFF;
    padding: 20px;
}